@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --color-primary: #00bcd4;
  --font: "Nunito", sans-serif;
  --key-bg: #eee;
  --color-white: #fafafa;
  --color-black: #232323;
  --correct-color: #96ff8c;
  --incorrect-color: #ff7474;
  --heartCont-color: #d4a373;
  --bg-color: #14213d;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-white);
  background: var(--bg-color);
  background: -webkit-linear-gradient(to right, #171f47, #14213d);
  background: linear-gradient(to right, #171f47, #14213d);
  font-family: var(--font);
}

main {
  max-width: 32rem;
  margin: 0 auto;
}

.container {
  display: grid;
  justify-items: center;
  /* display: flex;
  justify-content: center; */
  gap: 0.5rem;
  width: 100%;
  padding: 5px 10px;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.keyboard-container {
  display: flex;
  gap: 0.25rem;
}

.keyboard-tiles {
  display: flex;
}

.keyboard-letter {
  outline: transparent solid 2px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  width: auto;
  line-height: 1.2;
  height: 56px;
  min-width: 0px;
  font-size: 1rem;
  font-weight: bold;
  flex-grow: 1;
  text-transform: uppercase;
  background-color: var(--key-bg);
  color: var(--color-black);
  border-radius: 0.5rem;
  box-shadow: inset 0 -5px 0px 0px #bbb;
  transition: box-shadow 0.15s ease;
}

.keyboard-letter:hover {
  box-shadow: inset 0 -2px 0px 0px #bbb;
}

.keyboard-letter:active {
  animation: scaleTile 0.1s ease-out;
}

.keyboard-letter:disabled {
  cursor: not-allowed;
  color: #eee;
  background-color: #bbb;
}

.keyboard-letter:disabled:active {
  animation: none;
}

.keyboard-letter--next {
  background-color: #29b658;
  padding: 0 1rem;
  box-shadow:none;
}

.keyboard-letter--next:hover{
  cursor: pointer;
  opacity: .98;
  box-shadow: none;
}

@keyframes scaleTile {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

#enter {
  min-width: 80px;
}

/*grid */
.section {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.grid-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.grid-tiles {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  width: 55px;
  min-height: 55px;
  /* height: 58px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  color: var(--color-white);
  text-transform: uppercase;
  user-select: none;
  box-shadow: 0 0 9px 2px #bbbbbb54, inset 0 -4px 0px 0px #bbbbbb54;
}

/* image */
.img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  user-select: none;
  border: 0.5rem solid #232323a8;
  border-radius: 0.5rem;
}

/* Title */
.title-container {
  margin: 0 auto;
  text-align: center;

  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-white);
}

.title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: normal;
  color: #333;
}

/* Boolean */
.correct {
  color: var(--correct-color);
}
.incorrect {
  animation: incorrectColor 0.25s ease both;
}
.grid-tiles.incorrect {
  animation: incorrectColor 0.25s ease both 0.15s,
    incorrectMove 0.25s ease 0.15s;
}

@keyframes incorrectColor {
  100% {
    box-shadow: 0 0 5px 8px #d4161654, inset 0 -4px 0px 0px #d4161654;
    color: var(--incorrect-color);
  }
}

@keyframes incorrectMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}

/* Hearts */
.heart-container,
.time-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 10px;
  border-radius: 1.5rem;
  /* background-color: #bbbbbb54;
  outline: 2px solid var(--color-white); */
  /* background-color: #312910; */
  /* background-color: #792819; */
  /* outline: 5px solid #792819; */
  /* outline: 5px solid #a44333; */
  /* box-shadow: 0 -4px 0px 0px #bbbbbb54; */
}

.heart {
  font-size: 1.2rem;
  color: #ff1e43;
}

.hud-container {
  position: relative;
  background-color: #bbbbbb54;
  outline: 2px solid var(--color-white);
  border-radius: 1.5rem;
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem;
  background-color: red; */
}

/* Level */
.level-container {
  position: absolute;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee9b00;
  outline: 3px solid #ee9b00;
  font-size: 1.2rem;
  width: 44px;
  height: 44px;
  font-weight: bold;
  border-radius: 50%;
}

/* Popup */
.popup-container {
  background-color: #14213de5;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  /* animation: translatePopup .5s ease-in-out reverse; */
}

.popup-scale {
  background: none;
  animation: modaleClose .5s ease-in forwards;
}

@keyframes modaleClose {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translateY(200%);
  }
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  overflow: hidden;
  width: 95%;
  max-width: 32rem;
  color: black;
  margin: 0 auto;
  /* border: 2px solid #ee9b0054; */
  border-radius: .5rem;
  background-color: #1f3461;
  padding: 1rem 0;
  /* position: relative; */
  /* margin: auto; */
  /* margin-top: 15%; */
  /* width: 80%; */
  /* max-width: 300px; */
  /* height: 150px; */
  /* background-color: white; */
  /* border-radius: 14px; */
  box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
  /* padding: 16px; */

  transform: translateY(60%);
  animation: modalOpen .5s ease-out;
}

@keyframes modalOpen{
  from{
    opacity: 0;
    transform: translateY(200%);
  }
  to{
    opacity: 1;
  }
}

.popup-title {
  color: #29b658;
  /* text-align: center; */
  /* border-bottom: 2px solid var(--color-white); */
  /* background-color: #319304; */
  /* width: max-content; */
  /* margin: 0 auto; */
  /* border-radius: 0 0 1rem 1rem; */
}

.popup-title .subtitle{
  color: #ccc;
}

.popup-timer{
  width: max-content;
  padding: 0 1.5rem; 
  color: var(--color-white);
  gap: 1rem;
  justify-content: center;
}


.star {
  font-size: 3rem;
  color: #ee9b00;
}

.star.lost {
  color: #bbb;
}
